.character {
  padding: 20px;

  &__name {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  &__field {
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__value {
    font-weight: 700;
    margin-left: 6px;
  }

  &__image {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    margin-top: 20px;
    object-fit: cover;
  }
}
